@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif+Caption:400i|PT+Serif:400,400i,700,700i');
html {
	font: 12px/1.5 "PT Sans", "PT Serif Caption", "PT Serif";	
}

body, form, input {
	font: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f8f8;  
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.button {
display: block;
padding: 0.6rem 1rem;
border-radius: 0.4rem;
text-decoration: none;
font-weight: bold;
background: cadetblue;
color: rgb(255, 255, 255);
border: none;
font-size: 1rem;
}

.button:hover {
background: rgb(248, 215, 107);
color: rgb(0, 0, 0);
font-weight: bold;
}

.page-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0;
}